<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Patient Alert Tool</title>
    <meta charset="utf-8">

    {% load static %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

  <body class="body_background">

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="center_header">Patient Alert Tool</h2>
        </div>
      <input id="help_button" class="btn btn-secondary help_button" type="button" value="Help" name="help">
      </div>
    </div>

    {% for key, form in form_dict.items %}

      <div class="container-fluid">
        <div class="row">
          {% for field in form %}
            <div class="input_height col-sm-2">
              {{ field }}
            </div>
          {% endfor %}
        </div>
      </div>

    {% endfor %}

  </body>

</html>

<script type="text/javascript">

$(document).ready(function() {

  $('#id_slot').attr('id', 'id_slot_1');
  $('#id_slot').attr('id', 'id_slot_2');
  $('#id_slot').attr('id', 'id_slot_3');
  $('#id_slot').attr('id', 'id_slot_4');
  $('#id_slot').attr('id', 'id_slot_5');
  $('#id_slot').attr('id', 'id_slot_6');
  $('#id_slot').attr('id', 'id_slot_7');
  $('#id_slot').attr('id', 'id_slot_8');
  $('#id_slot').attr('id', 'id_slot_9');
  $('#id_slot').attr('id', 'id_slot_10');
  $('#id_slot').attr('id', 'id_slot_11');
  $('#id_slot').attr('id', 'id_slot_12');
  $('#id_slot').attr('id', 'id_slot_13');
  $('#id_slot').attr('id', 'id_slot_14');
  $('#id_slot').attr('id', 'id_slot_15');
  $('#id_slot').attr('id', 'id_slot_16');
  $('#id_slot').attr('id', 'id_slot_17');
  $('#id_slot').attr('id', 'id_slot_18');
  $('#id_slot').attr('id', 'id_slot_19');
  $('#id_slot').attr('id', 'id_slot_20');
  $('#id_slot').attr('id', 'id_slot_21');
  $('#id_slot').attr('id', 'id_slot_22');
  $('#id_slot').attr('id', 'id_slot_23');
  $('#id_slot').attr('id', 'id_slot_24');
  $('#id_slot').attr('id', 'id_slot_25');
  $('#id_slot').attr('id', 'id_slot_26');
  $('#id_slot').attr('id', 'id_slot_27');
  $('#id_slot').attr('id', 'id_slot_28');
  $('#id_slot').attr('id', 'id_slot_29');
  $('#id_slot').attr('id', 'id_slot_30');
  $('#id_slot').attr('id', 'id_slot_31');
  $('#id_slot').attr('id', 'id_slot_32');
  $('#id_slot').attr('id', 'id_slot_33');
  $('#id_slot').attr('id', 'id_slot_34');
  $('#id_slot').attr('id', 'id_slot_35');
  $('#id_slot').attr('id', 'id_slot_36');
  $('#id_slot').attr('id', 'id_slot_37');
  $('#id_slot').attr('id', 'id_slot_38');
  $('#id_slot').attr('id', 'id_slot_40');
  $('#id_slot').attr('id', 'id_slot_41');
  $('#id_slot').attr('id', 'id_slot_42');
  $('#id_slot').attr('id', 'id_slot_43');
  $('#id_slot').attr('id', 'id_slot_44');
  $('#id_slot').attr('id', 'id_slot_45');
  $('#id_slot').attr('id', 'id_slot_46');
  $('#id_slot').attr('id', 'id_slot_47');
  $('#id_slot').attr('id', 'id_slot_48');

  $('#id_name').attr('id', 'id_name_1');
  $('#id_name').attr('id', 'id_name_2');
  $('#id_name').attr('id', 'id_name_3');
  $('#id_name').attr('id', 'id_name_4');
  $('#id_name').attr('id', 'id_name_5');
  $('#id_name').attr('id', 'id_name_6');
  $('#id_name').attr('id', 'id_name_7');
  $('#id_name').attr('id', 'id_name_8');
  $('#id_name').attr('id', 'id_name_9');
  $('#id_name').attr('id', 'id_name_10');
  $('#id_name').attr('id', 'id_name_11');
  $('#id_name').attr('id', 'id_name_12');
  $('#id_name').attr('id', 'id_name_13');
  $('#id_name').attr('id', 'id_name_14');
  $('#id_name').attr('id', 'id_name_15');
  $('#id_name').attr('id', 'id_name_16');
  $('#id_name').attr('id', 'id_name_17');
  $('#id_name').attr('id', 'id_name_18');
  $('#id_name').attr('id', 'id_name_19');
  $('#id_name').attr('id', 'id_name_20');
  $('#id_name').attr('id', 'id_name_21');
  $('#id_name').attr('id', 'id_name_22');
  $('#id_name').attr('id', 'id_name_23');
  $('#id_name').attr('id', 'id_name_24');
  $('#id_name').attr('id', 'id_name_25');
  $('#id_name').attr('id', 'id_name_26');
  $('#id_name').attr('id', 'id_name_27');
  $('#id_name').attr('id', 'id_name_28');
  $('#id_name').attr('id', 'id_name_29');
  $('#id_name').attr('id', 'id_name_30');
  $('#id_name').attr('id', 'id_name_31');
  $('#id_name').attr('id', 'id_name_32');
  $('#id_name').attr('id', 'id_name_33');
  $('#id_name').attr('id', 'id_name_34');
  $('#id_name').attr('id', 'id_name_35');
  $('#id_name').attr('id', 'id_name_36');
  $('#id_name').attr('id', 'id_name_37');
  $('#id_name').attr('id', 'id_name_38');
  $('#id_name').attr('id', 'id_name_39');
  $('#id_name').attr('id', 'id_name_40');
  $('#id_name').attr('id', 'id_name_41');
  $('#id_name').attr('id', 'id_name_42');
  $('#id_name').attr('id', 'id_name_43');
  $('#id_name').attr('id', 'id_name_44');
  $('#id_name').attr('id', 'id_name_45');
  $('#id_name').attr('id', 'id_name_46');
  $('#id_name').attr('id', 'id_name_47');
  $('#id_name').attr('id', 'id_name_48');

  $('#id_modality').attr('id', 'id_modality_1');
  $('#id_modality').attr('id', 'id_modality_2');
  $('#id_modality').attr('id', 'id_modality_3');
  $('#id_modality').attr('id', 'id_modality_4');
  $('#id_modality').attr('id', 'id_modality_5');
  $('#id_modality').attr('id', 'id_modality_6');
  $('#id_modality').attr('id', 'id_modality_7');
  $('#id_modality').attr('id', 'id_modality_8');
  $('#id_modality').attr('id', 'id_modality_9');
  $('#id_modality').attr('id', 'id_modality_10');
  $('#id_modality').attr('id', 'id_modality_11');
  $('#id_modality').attr('id', 'id_modality_12');
  $('#id_modality').attr('id', 'id_modality_13');
  $('#id_modality').attr('id', 'id_modality_14');
  $('#id_modality').attr('id', 'id_modality_15');
  $('#id_modality').attr('id', 'id_modality_16');
  $('#id_modality').attr('id', 'id_modality_17');
  $('#id_modality').attr('id', 'id_modality_18');
  $('#id_modality').attr('id', 'id_modality_19');
  $('#id_modality').attr('id', 'id_modality_20');
  $('#id_modality').attr('id', 'id_modality_21');
  $('#id_modality').attr('id', 'id_modality_22');
  $('#id_modality').attr('id', 'id_modality_23');
  $('#id_modality').attr('id', 'id_modality_24');
  $('#id_modality').attr('id', 'id_modality_25');
  $('#id_modality').attr('id', 'id_modality_26');
  $('#id_modality').attr('id', 'id_modality_27');
  $('#id_modality').attr('id', 'id_modality_28');
  $('#id_modality').attr('id', 'id_modality_29');
  $('#id_modality').attr('id', 'id_modality_30');
  $('#id_modality').attr('id', 'id_modality_31');
  $('#id_modality').attr('id', 'id_modality_32');
  $('#id_modality').attr('id', 'id_modality_33');
  $('#id_modality').attr('id', 'id_modality_34');
  $('#id_modality').attr('id', 'id_modality_35');
  $('#id_modality').attr('id', 'id_modality_36');
  $('#id_modality').attr('id', 'id_modality_37');
  $('#id_modality').attr('id', 'id_modality_38');
  $('#id_modality').attr('id', 'id_modality_39');
  $('#id_modality').attr('id', 'id_modality_40');
  $('#id_modality').attr('id', 'id_modality_41');
  $('#id_modality').attr('id', 'id_modality_42');
  $('#id_modality').attr('id', 'id_modality_43');
  $('#id_modality').attr('id', 'id_modality_44');
  $('#id_modality').attr('id', 'id_modality_45');
  $('#id_modality').attr('id', 'id_modality_46');
  $('#id_modality').attr('id', 'id_modality_47');
  $('#id_modality').attr('id', 'id_modality_48');

  $('#id_phone').attr('id', 'id_phone_1');
  $('#id_phone').attr('id', 'id_phone_2');
  $('#id_phone').attr('id', 'id_phone_3');
  $('#id_phone').attr('id', 'id_phone_4');
  $('#id_phone').attr('id', 'id_phone_5');
  $('#id_phone').attr('id', 'id_phone_6');
  $('#id_phone').attr('id', 'id_phone_7');
  $('#id_phone').attr('id', 'id_phone_8');
  $('#id_phone').attr('id', 'id_phone_9');
  $('#id_phone').attr('id', 'id_phone_10');
  $('#id_phone').attr('id', 'id_phone_11');
  $('#id_phone').attr('id', 'id_phone_12');
  $('#id_phone').attr('id', 'id_phone_13');
  $('#id_phone').attr('id', 'id_phone_14');
  $('#id_phone').attr('id', 'id_phone_15');
  $('#id_phone').attr('id', 'id_phone_16');
  $('#id_phone').attr('id', 'id_phone_17');
  $('#id_phone').attr('id', 'id_phone_18');
  $('#id_phone').attr('id', 'id_phone_19');
  $('#id_phone').attr('id', 'id_phone_20');
  $('#id_phone').attr('id', 'id_phone_21');
  $('#id_phone').attr('id', 'id_phone_22');
  $('#id_phone').attr('id', 'id_phone_23');
  $('#id_phone').attr('id', 'id_phone_24');
  $('#id_phone').attr('id', 'id_phone_25');
  $('#id_phone').attr('id', 'id_phone_26');
  $('#id_phone').attr('id', 'id_phone_27');
  $('#id_phone').attr('id', 'id_phone_28');
  $('#id_phone').attr('id', 'id_phone_29');
  $('#id_phone').attr('id', 'id_phone_30');
  $('#id_phone').attr('id', 'id_phone_31');
  $('#id_phone').attr('id', 'id_phone_32');
  $('#id_phone').attr('id', 'id_phone_33');
  $('#id_phone').attr('id', 'id_phone_34');
  $('#id_phone').attr('id', 'id_phone_35');
  $('#id_phone').attr('id', 'id_phone_36');
  $('#id_phone').attr('id', 'id_phone_37');
  $('#id_phone').attr('id', 'id_phone_38');
  $('#id_phone').attr('id', 'id_phone_39');
  $('#id_phone').attr('id', 'id_phone_40');
  $('#id_phone').attr('id', 'id_phone_41');
  $('#id_phone').attr('id', 'id_phone_42');
  $('#id_phone').attr('id', 'id_phone_43');
  $('#id_phone').attr('id', 'id_phone_44');
  $('#id_phone').attr('id', 'id_phone_45');
  $('#id_phone').attr('id', 'id_phone_46');
  $('#id_phone').attr('id', 'id_phone_47');
  $('#id_phone').attr('id', 'id_phone_48');

  $('#id_email').attr('id', 'id_email_1');
  $('#id_email').attr('id', 'id_email_2');
  $('#id_email').attr('id', 'id_email_3');
  $('#id_email').attr('id', 'id_email_4');
  $('#id_email').attr('id', 'id_email_5');
  $('#id_email').attr('id', 'id_email_6');
  $('#id_email').attr('id', 'id_email_7');
  $('#id_email').attr('id', 'id_email_8');
  $('#id_email').attr('id', 'id_email_9');
  $('#id_email').attr('id', 'id_email_10');
  $('#id_email').attr('id', 'id_email_11');
  $('#id_email').attr('id', 'id_email_12');
  $('#id_email').attr('id', 'id_email_13');
  $('#id_email').attr('id', 'id_email_14');
  $('#id_email').attr('id', 'id_email_15');
  $('#id_email').attr('id', 'id_email_16');
  $('#id_email').attr('id', 'id_email_17');
  $('#id_email').attr('id', 'id_email_18');
  $('#id_email').attr('id', 'id_email_19');
  $('#id_email').attr('id', 'id_email_20');
  $('#id_email').attr('id', 'id_email_21');
  $('#id_email').attr('id', 'id_email_22');
  $('#id_email').attr('id', 'id_email_23');
  $('#id_email').attr('id', 'id_email_24');
  $('#id_email').attr('id', 'id_email_25');
  $('#id_email').attr('id', 'id_email_26');
  $('#id_email').attr('id', 'id_email_27');
  $('#id_email').attr('id', 'id_email_28');
  $('#id_email').attr('id', 'id_email_29');
  $('#id_email').attr('id', 'id_email_30');
  $('#id_email').attr('id', 'id_email_31');
  $('#id_email').attr('id', 'id_email_32');
  $('#id_email').attr('id', 'id_email_33');
  $('#id_email').attr('id', 'id_email_34');
  $('#id_email').attr('id', 'id_email_35');
  $('#id_email').attr('id', 'id_email_36');
  $('#id_email').attr('id', 'id_email_37');
  $('#id_email').attr('id', 'id_email_38');
  $('#id_email').attr('id', 'id_email_39');
  $('#id_email').attr('id', 'id_email_40');
  $('#id_email').attr('id', 'id_email_41');
  $('#id_email').attr('id', 'id_email_42');
  $('#id_email').attr('id', 'id_email_43');
  $('#id_email').attr('id', 'id_email_44');
  $('#id_email').attr('id', 'id_email_45');
  $('#id_email').attr('id', 'id_email_46');
  $('#id_email').attr('id', 'id_email_47');
  $('#id_email').attr('id', 'id_email_48');

  $('#id_status').attr('id', 'id_status_1');
  $('#id_status').attr('id', 'id_status_2');
  $('#id_status').attr('id', 'id_status_3');
  $('#id_status').attr('id', 'id_status_4');
  $('#id_status').attr('id', 'id_status_5');
  $('#id_status').attr('id', 'id_status_6');
  $('#id_status').attr('id', 'id_status_7');
  $('#id_status').attr('id', 'id_status_8');
  $('#id_status').attr('id', 'id_status_9');
  $('#id_status').attr('id', 'id_status_10');
  $('#id_status').attr('id', 'id_status_11');
  $('#id_status').attr('id', 'id_status_12');
  $('#id_status').attr('id', 'id_status_13');
  $('#id_status').attr('id', 'id_status_14');
  $('#id_status').attr('id', 'id_status_15');
  $('#id_status').attr('id', 'id_status_16');
  $('#id_status').attr('id', 'id_status_17');
  $('#id_status').attr('id', 'id_status_18');
  $('#id_status').attr('id', 'id_status_19');
  $('#id_status').attr('id', 'id_status_20');
  $('#id_status').attr('id', 'id_status_21');
  $('#id_status').attr('id', 'id_status_22');
  $('#id_status').attr('id', 'id_status_23');
  $('#id_status').attr('id', 'id_status_24');
  $('#id_status').attr('id', 'id_status_25');
  $('#id_status').attr('id', 'id_status_26');
  $('#id_status').attr('id', 'id_status_27');
  $('#id_status').attr('id', 'id_status_28');
  $('#id_status').attr('id', 'id_status_29');
  $('#id_status').attr('id', 'id_status_30');
  $('#id_status').attr('id', 'id_status_31');
  $('#id_status').attr('id', 'id_status_32');
  $('#id_status').attr('id', 'id_status_33');
  $('#id_status').attr('id', 'id_status_34');
  $('#id_status').attr('id', 'id_status_35');
  $('#id_status').attr('id', 'id_status_36');
  $('#id_status').attr('id', 'id_status_37');
  $('#id_status').attr('id', 'id_status_38');
  $('#id_status').attr('id', 'id_status_39');
  $('#id_status').attr('id', 'id_status_40');
  $('#id_status').attr('id', 'id_status_41');
  $('#id_status').attr('id', 'id_status_42');
  $('#id_status').attr('id', 'id_status_43');
  $('#id_status').attr('id', 'id_status_44');
  $('#id_status').attr('id', 'id_status_45');
  $('#id_status').attr('id', 'id_status_46');
  $('#id_status').attr('id', 'id_status_47');
  $('#id_status').attr('id', 'id_status_48');


  $("[id*=phone]").each(function() {
    // Get the row number
    let row = $(this).attr("id").substr(1 + $(this).attr("id").lastIndexOf('_'));
    // Turn the ID number into a single string that exactly matches the status element for the given row
    let phone_element = "#id_phone_" + row;
    let email_element = "#id_email_" + row;

    validatePhone($(phone_element), alerts='No');
    validateEmail($(email_element), alerts='No');
    validateButton(row);
  });


  // Validate button display
  function validateButton(row) {

    let modality_element = "#id_modality_" + row;
    let phone_element = "#id_phone_" + row;
    let email_element = "#id_email_" + row;
    let status_element = "#id_status_" + row;
    let button_element = "#new_button_" + row;

    if ($(status_element).val() === 'Not Yet Sent' || $(button_element).val() === 'Send Notification') {

      if ($(modality_element).val() === 'Phone') {

        if ($(phone_element).hasClass("validated")) {
          $(status_element).replaceWith("<input id=\"new_button_" + row + "\" class=\"btn btn-primary shrink_send_button\" type=\"button\" value=\"Send Notification\" name=\"send_notification\">");
        }
        else {
          $(button_element).replaceWith("<input id=\"id_status_" + row + "\" class=\"form-control form-control-sm center_text\" type=\"text\" value=\"Not Yet Sent\" disabled>")
        }
      }

      else if ($(modality_element).val() === 'Email') {

        if ($(email_element).hasClass("validated")) {
          $(status_element).replaceWith("<input id=\"new_button_" + row + "\" class=\"btn btn-primary shrink_send_button\" type=\"button\" value=\"Send Notification\" name=\"send_notification\">");
        }
        else {
          $(button_element).replaceWith("<input id=\"id_status_" + row + "\" class=\"form-control form-control-sm center_text\" type=\"text\" value=\"Not Yet Sent\" disabled>")
        }
      }

      else if ($(modality_element).val() === 'Phone & Email') {

        if ($(phone_element).hasClass("validated") && $(email_element).hasClass("validated")) {
          $(status_element).replaceWith("<input id=\"new_button_" + row + "\" class=\"btn btn-primary shrink_send_button\" type=\"button\" value=\"Send Notification\" name=\"send_notification\">");
        }
        else {
          $(button_element).replaceWith("<input id=\"id_status_" + row + "\" class=\"form-control form-control-sm center_text\" type=\"text\" value=\"Not Yet Sent\" disabled>")
        }
      }

      else if ($(modality_element).val() == 'Unspecified') {
        $(button_element).replaceWith("<input id=\"id_status_" + row + "\" class=\"form-control form-control-sm center_text\" type=\"text\" value=\"Not Yet Sent\" disabled>")
      }
    }
  }


  // Validate phone number
  function validatePhone(object, alerts='Yes') {

    if (object.val().trim() !== '') {

      let numbers_regex = object.val().match(/^[^\d]*([0-9]*)[^\d]*([0-9]*)[^\d]*([0-9]*)[^\d]*([0-9]*)[^\d]*([0-9]*)[^\d]*([0-9]*)[^\d]*([0-9]*)[^\d]*([0-9]*)[^\d]*([0-9]*)[^\d]*([0-9]*)$/); // .map(Number)[0] IT IS A STRING

      if (numbers_regex != null) {
        var numbers = numbers_regex[1] + numbers_regex[2] + numbers_regex[3] + numbers_regex[4] + numbers_regex[5] + numbers_regex[6] + numbers_regex[7] + numbers_regex[8] + numbers_regex[9] + numbers_regex[10];

        if (numbers.length === 10) {
          console.log('Parsed 10-digit phone number: ' + numbers)
          object.removeClass('not_validated');
          object.addClass('validated');
        }
        else if (numbers.length === 7) {
          numbers = '705' + numbers
          console.log('Parsed 7-digit phone number: ' + numbers)
          object.removeClass('not_validated');
          object.addClass('validated');
        }
        else {
          if (alerts === 'Yes') {
            alert('Please enter a 10-digit or 7-digit (no area code) phone number.');
          }
          object.removeClass('validated');
          object.addClass('not_validated');
        }
      }
      else { // Don't think this is necessary
        if (alerts === 'Yes') {
          alert('Please enter a valid phone number.');
        }
        object.removeClass('validated');
        object.addClass('not_validated');
      }
    }
    else {
      object.removeClass('validated');
      object.removeClass('not_validated');
    }
  }


  // Validate email
  function validateEmail(object, alerts='Yes') {

    if (object.val().trim() !== '') {

      let email_regex = object.val().match(/(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/);

      if (email_regex != null) {
        var email = email_regex[0];
        console.log('Parsed email: ' + email)
        object.removeClass('not_validated');
        object.addClass('validated');
      }

      else {
        if (alerts === 'Yes') {
          alert('Please enter a valid email address.');
        }
        object.removeClass('validated');
        object.addClass('not_validated');
      }
    }
    else {
      object.removeClass('validated');
      object.removeClass('not_validated');
    }
  }


  // Validate on modality blur
  $(document).on('change', "[id*=modality]", function(e) {
    validateButton(e.target.id.substr(1 + e.target.id.lastIndexOf('_')));
  });

  // Validate on phone number blur
  $(document).on('blur', "[id*=phone]", function(e) {
    validatePhone($(this));
    validateButton(e.target.id.substr(1 + e.target.id.lastIndexOf('_')));
  });

  // Validate on email address blur
  $(document).on('blur', "[id*=email]", function(e) {
    validateEmail($(this));
    validateButton(e.target.id.substr(1 + e.target.id.lastIndexOf('_')));
  });


  $('input,select').on('change', function(e) {

    var form_indicator = '_' + e.target.id.substr(1 + e.target.id.lastIndexOf('_')); // Get the _# to identify the row to POST
    var selection = $("[id$=" + form_indicator + "]"); // Get all elements of that row

    var status;
    if (selection.get(5).value == 'Send Notification') {
      status = 'Not Yet Sent';
    }
    else {
      status = selection.get(5).value;
    }

    $.ajax({
      type: "POST",
      url: "",
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        'form_indicator': form_indicator,
        'slot': selection.get(0).value,
        'name': selection.get(1).value,
        'modality': selection.get(2).value,
        'phone': selection.get(3).value,
        'email': selection.get(4).value,
        'status': status,
      },
      success: function () {
        console.log('Schedule POST success of row ' + e.target.id.substr(1 + e.target.id.lastIndexOf('_')) + '.');
      }
    });
  });


  $("#help_button").on('click', function(e) {
    alert('When a patient checks in, if they wish, record their name and contact preferences/details.\n\nOnce contact details are validated, a \'Send Notification\' button will appear in place of the \'Not Yet Sent\' status. Click it to notify the patient that the clinic is ready for them.\n\nIf/when they respond, an alert will appear to notify you and the status will change from \'Sent\' to \'CONFIRMED\'.');
  });

  $(document).on('click', ":button:not('#help_button')", function(e) { // Exclude the help button
    var form_indicator = '_' + e.target.id.substr(1 + e.target.id.lastIndexOf('_')); // Get the _# to identify the row to POST
    var selection = $("[id$=" + form_indicator + "]"); // Get all elements of that row

    var name;

    if (selection.get(1).value.trim() === '') {
      name = 'there';
    }
    else {
      name = selection.get(1).value.trim();
    }

    $.ajax({
      type: "POST",
      url: "",
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        'notify': 'Yes',
        'form_indicator': form_indicator,
        'slot': selection.get(0).value,
        'name': name,
        'modality': selection.get(2).value,
        'phone': selection.get(3).value,
        'email': selection.get(4).value, // Status will be set to 'Sent' in views.py
      },
      success: function () {
        console.log('Send notification success to patient at row ' + e.target.id.substr(1 + e.target.id.lastIndexOf('_')) + '.');
        // $(selection.get(5)).replaceWith("<input id=\"id_status_" + form_indicator + "\" class=\"form-control form-control-sm center_text\" type=\"text\" value=\"Sent\" disabled>");
        alert('\'Ready For Appointment\' message has been sent!');
      }
    });
    // $(selection.get(5)).hide(2000);
    $(selection.get(5)).replaceWith("<input id=\"id_status_" + form_indicator + "\" class=\"form-control form-control-sm center_text\" type=\"text\" value=\"Sent\" disabled>");
  });

  // Repeatedly check for new status values, and raise an alert if patient is now 'CONFIRMED'
  var update_looper = setInterval(status_update, 2000);
  function status_update() {

    $.ajax({
      type: 'GET',
      url: 'update/',
      data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
      success: function(response) {
        $("[id*=status]").each(function() {
          // Get the row number
          var row = $(this).attr("id").substr(1 + $(this).attr("id").lastIndexOf('_'));

          var name_element = "#id_name_" + row;
          var incoming_status = response['status_' + row];

          if (incoming_status === 'CONFIRMED') {
            if ($(this).val() === 'Sent') {

              // console.log('Row: ' + row);
              // console.log('Status value: ' + $(this).val());
              // console.log('Name element: ' + name_element);
              // console.log('Incoming status: ' + incoming_status);
              $(this).val('CONFIRMED');

              var name = $(name_element).val().trim().split(' ').map((s) => s.charAt(0).toUpperCase() + s.substring(1)).join(' ');
              if (name === '') {
                  alert('The patient is on their way.')
              }
              alert(name + ' is on their way.');
            }
            $(this).addClass("red_text");
          }
        });
      }
    });
  }
});

</script>
